<div id="header">
    <div class = "logo">
        <a href="/">ロゴ</a>
    </div>
    <div class ="link">
        <ul id="nav">
            <li>
                <a href="#">メニュー1</a>
            </li>
            <li>
                <a href="#">メニュー2</a>
            </li>
            <li>
                <a href="#">メニュー3</a>
            </li>
        </ul>
    </div>
</div>
<div>
   
</div>
<div class="content-wrapper">
    <div class="content-block">
        <%= (1..10).each do |i| %>
        <div class="content">
            <div class="user-about">
                <div class="image">
                    <% image_tag "user.png" %>
                </div>
                <div class="profile">
                    <div class="name-study">
                        <div class="name">
                            ジェシカ
                        </div>
                        <div class="study">
                            学習歴：3ヶ月
                        </div>
                    </div>
                    <div class="purpose">
                      Ruby on Railsを学んでいる目的： Railsを使って色々なアプリケーションを開発したい！
                    </div>
                </div>
            </div>
            <div class="text">
                <p>テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。</p>
                <p>テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。</p>
            </div>
            
            <div class="action-menu">
                <div class="like">
                    
                </div>
                <div class="comment">
                    
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <div class="sidebar">
        <div class ="box"></div>
        <div class ="box"></div>
    </div>
</div>

    <div id="footer">
        <p>© 2020 Rails blog</p>
    </div>