<div class="content-warapper">
    <div class="content-block">
        <div class="content">
            <div class="user-about">
                <div class="image">
                    
                </div>
                
                <div class="name">
                    金子
                </div>
                <div class="study">
                    学習歴：3ヶ月
                </div>
            </div>
        </div>
        
        <div class="text">
            <p>テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。</p>
            <p>テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。</p>
        </div>
        
        <div class="action-menu">
            <div class="like">
                
            </div>
            <div class="comment"></div>
        </div>
    </div>
    
    <div class="sidbar">
        <div class ="box"></div>
        <div class ="box"></div>
    </div>
</div>